*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
.container-1{
    background: url("../images/hero.png");
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-right: 60px;
    margin-left: 60px;
}
.logo{
        font-family: "Laila", serif;
        font-weight: 700;
        font-style: normal;
        width: 76px;
}
nav img{
    width: 48px;
    margin-left: 10px;
}
.right-profile > i{
    color: rgba(255, 122, 0, 1);
    width: 38px;
}
.links a{
  margin-left: 30px;
  margin-right: 30px;  
}
.main{
    margin-top: 100px;
    text-align: center;
}
.main h1{
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 1000;
    font-style: normal;
}
.main button{
    background-color: rgba(0, 166, 81, 1);
    border:  1px solid rgba(0, 166, 81, 1);
    padding: 10px;
    width: 140px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
}
.container-2{
    background: url("../images/world\ map\ 1.png");
    text-align: center;
    margin-top: 30px;
}
.container-2 .container-2-1 .service{
    display: flex;
    justify-content: space-between;
    margin: 90px;   
}
.container-2-1{
    padding: 40px;
}
.box {
    width: 416px;
    height: 232px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.box p {
    font-weight: normal;
    font-size: initial;
}
.middle{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.small-box{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.small-box p{
    margin: 20px;
}
.best{
    text-align: center;
    justify-content: space-between;
    display: flex;
    font-weight: bold;
    font-size: 30px;
}
.years{
    margin-left: 160px;
}
.history{
    margin-right: 160px;
}
.best p{
    font-weight: normal;
    font-size: initial;
}
i{
    color: rgba(0, 95, 21, 1);
    margin: 20px;
    font-size: 40px;
}
.container-2-2{
    background-color: rgba(0, 88, 83, 0.05);
    padding-bottom: 200px;
    padding-top: 60px;
}
.container-2-2 > h2{
    margin-bottom: 30px;
}
.container-2-2 > p{
    margin-bottom: 100px;
}
.fa-rocket{
    color: rgba(228, 139, 120, 1);
}
.fa-house{
    color: rgba(0, 184, 224, 1);
}
.fa-ticket{
    color: rgba(50, 223, 143, 1);
}
h2{
    font-size: 40px;
}
.main > h1{
    font-size: 75px;
}
p{
    font-size: 16px;
}
.best > p{
    font-size: 20px;
}